[core]
    whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
    quotepath = false
    pager = delta

[interactive]
    diffFilter = delta --color-only

[alias]
    # Commit staged files and include (fixup) them into the HEAD commit.
    fixup-staged-previous-commit = !git commit --amend --reuse-message=HEAD --date \"$(date)\"
    # Commit staged files into a temporary "work in progress" commit.
    work-in-progress-staged = !git commit -m \"WIP\"
    # Check whitespace in commit
    check = !git diff --check
    # Log
    adog = log --all --decorate --oneline --graph
    l = log --all --graph --pretty='tformat:%C(cyan)%h %C(green)%ad %C(bold yellow)%d %C(reset)%C(white)%s%C(reset) %C(bold white) -%an%C(reset)' -10
    # Tidy
    tidy = clean -d -x -f
    lstidy = clean -d -x -n

    ## 'shortened' commands
    fixup = !git fixup-staged-previous-commit
    wip = !git work-in-progress-staged

[user]
    name = Andrew Foster
    email = afoster1@gmail.com

# Check config for delta using "delta --show-config"
[delta]
    navigate = true
    features = unobtrusive-line-numbers decorations dark
    side-by-side = false
    syntax-theme = "Solarized (dark)"
[delta "unobtrusive-line-numbers"]
    line-numbers = true
    line-numbers-minus-style = red
    line-numbers-plus-style = green
    line-numbers-left-format = "{nm:>4}┊"
    line-numbers-right-format = "{np:>4}┊"
    line-numbers-left-style = white
    line-numbers-right-style = white
[delta "decorations"]
    commit-decoration-style = white ol
    commit-style = raw
    file-style = bold cyan
    file-modified-label = "file:"
    file-decoration-style = none
    hunk-header-style = white dim
    hunk-header-decoration-style = white ol
    hunk-header-file-style = white dim
    hunk-header-line-number-style = white bold
    hunk-header-style = file line-number white dim
    hunk-label = "hunk:"
    line-numbers-zero-style = white dim
[delta "dark"]
    light = false
    minus-style = red auto
    minus-emph-style = black red
    minus-non-emph-style = red auto
    plus-style = syntax auto
    plus-emph-style = auto green
    plus-non-emph-style = syntax auto
    plus-empty-line-marker-style = green auto

[merge]
    conflictStyle = diff3

[diff]
    colorMoved = default

# [diff]
#     tool = vimdiff
# [difftool]
#     prompt = false
# [merge]
# 	tool = vimdiff
# 	conflictstyle = diff3
# [mergetool]
# 	prompt = false

# Windows Only Below!
[diff]
   tool = bc4
[difftool]
   prompt = false
[difftool "bc4"]
   cmd = \"c:/Program Files/Beyond Compare 5/bcomp.exe\" "$LOCAL" "$REMOTE"
[merge]
   tool = bc4
[mergetool]
   prompt = false
[mergetool "bc4"]
   cmd = \"c:/Program Files/Beyond Compare 5/bcomp.exe\" "$LOCAL" "$REMOTE" "$BASE" "$MERGED"